<div class='row'>
  <div class='col-md-10'>
    <h2>Edit Post</h2>

    <form class='form new-post-form'>
      <div class='form-group'>
        <label for='post-title'>Title:</label>
        <input
          class='form-input'
          type='text'
          id='post-title'
          value='{{post.title}}'
        />
      </div>
      <div class='form-group'>
        <label for='post-content'>Content:</label>
        <input
          class='form-input'
          type='textarea'
          id='post-content'
          value='{{post.content}}'
        />
      </div>
      <div class='form-group'>
        <button class='btn btn-danger' type='submit'>Delete</button>
        <button class='btn btn-primary' type='submit'>Submit</button>
      </div>
    </form>
  </div>
</div>
<script src='./js/edit.js'></script>